<!DOCTYPE html>
<html ng-app="tttApp">
<head>
	<meta charset="UTF-8">
	<title>Tic Tac Toe</title>
	<script src="https://code.jquery.com/jquery-git2.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/main.js"></script>
	<script src="js/TTTController.js"></script>
	
</head>
<body>
	<section ng-controller="TTTController as vm">
		<div class="scoreboard">
			<h1>Tic Tac Toe</h1>
			<button class="newgame" ng-click="vm.newGame()">New Game</button>
			<h3>Player One Score: {{ vm.playerOne.wins }}</h3>
			<h3>Player Two Score: {{ vm.playerTwo.wins }}</h3>
		</div>
		<div class="gameboard">
			
			<div x-ng-repeat="tile in vm.tiles">
				<div class="square" ng-click="tile.click()">
					<div class="xpiece" ng-show="tile.state === 'x'"><i class="fa fa-times fa-5x centerboth"></i></div>
					<div class="opiece" ng-show="tile.state === 'o'"><i class="fa fa-circle-o fa-4x centerboth"></i></div> 
				</div>
			</div>
		</div>
		
		<div ng-class="{gameOverDisplay: vm.winningName != '', hidden: vm.winningName === ''}">
			<div ng-class="{replayScreen: vm.winningName != '', hidden: vm.winningName === ''}">
				<p>Congratulations {{ vm.winningName }} - You Won!</p>
				<button ng-click="vm.newGame()" ng-hide="gameOverDisplay">Play Again</button>
			</div>
		</div>

		<div class="gameOverDisplay" ng-show="vm.playersTie">
			<div class="replayScreen" ng-show="vm.playersTie">
				<p ng-show="vm.playersTie">Cats Game - You Tie!</p>
				<button ng-click="vm.newGame()" ng-show="vm.playersTie">Play Again!</button>
			</div>
		</div>

	</section>
</body>
</html>